<div class="container">
  <div class="row">
    <label for="exampleInputEmail1" class="form-label">Server URL</label>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="http:// or https:// or ws:// or wss://" aria-label="http:// or https:// or ws:// or wss://" aria-describedby="button-addon2">
      <button class="btn btn-success" type="button" id="button-addon2">Connect</button>
    </div>
  </div>

  <div class="row">
    <label for="message" class="form-label">Message</label>

    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2"></textarea>
      <button class="btn btn-info" type="button" id="button-addon2">Send</button>
    </div>
  </div>

  <div class="row">
    <label for="message" class="form-label">Recieved Messages</label>
    <div class="input-group mb-3">
      <button class="btn btn-red" type="button" id="button-addon2">Clear Messages</button>
    </div>
    <div class="input-group mb-3">
      <textarea rows=60 class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2" readonly></textarea>
    </div>
  </div>
</div>
