<div class="container">
  <div class="row">
    <label for="server_url_connect_btn" class="form-label">Server URL</label>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="http:// or https:// or ws:// or wss://" aria-label="server-url" aria-describedby="button-addon2">
      <button class="btn btn-success" type="button" id="server_url_connect_btn">Connect</button>
    </div>
  </div>

  <div class="row">
    <label for="send_message_btn" class="form-label">Message</label>

    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2"></textarea>
      <button class="btn btn-info" type="button" id="send_message_btn">Send</button>
    </div>
  </div>

  <div class="row">
    <label for="clear_messages_btn" class="form-label">Recieved Messages</label>
    <div class="input-group mb-3">
      <button class="btn btn-red" type="button" id="clear_messages_btn">Clear Messages</button>
    </div>
    <div class="input-group mb-3">
      <textarea rows=60 class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2" readonly></textarea>
    </div>
  </div>
</div>
