<div class="container">
  <div class="row">
    <label for="server_url_connect_btn" class="form-label">Server URL</label>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="http:// or https:// or ws:// or wss://" aria-label="server-url" aria-describedby="button-addon2" [(ngModel)]="serverUrl">
      <button class="btn btn-success" type="button" id="server_url_connect_btn" (click)="connectToServer()">Connect</button>
    </div>
  </div>

  <div class="row">
    <label for="subscribe_message_btn" class="form-label">Subscription</label>

    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Provide Comma Seperated subscription channel names" aria-label="subscriptions" aria-describedby="button-addon2" [(ngModel)]="subscriptions"></textarea>
      <button class="btn btn-info" type="button" id="subscribe_message_btn" (click)="subscribeToChannels()">Subscribe</button>
    </div>
  </div>

  <div class="row">
    <label for="send_message_btn" class="form-label">Message</label>

    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2" [(ngModel)]="message"></textarea>
      <button class="btn btn-info" type="button" id="send_message_btn">Send</button>
    </div>
  </div>

  <div class="row">
    <label for="clear_messages_btn" class="form-label">Recieved Messages</label>
    <div class="input-group mb-3">
      <button class="btn btn-danger" type="button" id="clear_messages_btn" (click)="clearMessages()">Clear Messages</button>
    </div>
    <div class="input-group mb-3">
      <textarea rows=60 class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2" [(ngModel)]="messages" readonly></textarea>
    </div>
  </div>
</div>
